body{
    background: url("../img/macbook-pro-at-night-picjumbo-com.jpg") no-repeat center center fixed;
    width: 100%;
    min-height: 100vh;
   
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.btn-a{
    display: inline-block;
    width: 100%;
    height: 52px;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(-45deg, #e91e63, #00bcd4, #e91e63);
    border-radius: 50px 0 50px 0;
    transition: all ease 1s;
    background-size: 400% 400%;
    background-position: 0 0;
    padding: 0 40px;
    
}
.btn-b{
    display: inline-block;
    width: 100%;
    height: 52px;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(-45deg, #e91e63, #00bcd4, #e91e63);
    border-radius: 50px 0 50px 0;
    transition: all ease 1s;
    background-size: 400% 400%;
    background-position: 0 0;
    padding: 0 40px;
}

.btn-a:hover{
    border-radius: 0 50px 0 50px;
    background-position: 100% 50%;
    color: white;
}
.btn-b:hover{
    border-radius: 0 50px 0 50px;
    background-position: 100% 50%;
    color: white;
}

.bg-custom{
    background: black;
}

ul li{
    margin-left: 10px;
}