.header {
    background-image: url (https://images.app.goo.gl/UJANjxfQ2gvCQADEA) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}
 
.bg-personal {
    background-image: url(https://images.app.goo.gl/UJANjxfQ2gvCQADEA)
}
