.scroll{
    height: 550px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* scrollbar track */
::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* scrollbar handle */
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #00d2ff;
    background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
  }

.login-container, body{
    background: url("../img/macbook-pro-at-night-picjumbo-com.jpg") no-repeat center center fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
/*Columna Izquierda*/

.link-access{
    color: white;
    background-image: linear-gradient(-45deg, #e91e63, #00bcd4, #e91e63);
    border-radius: 50px 50px 50px 50px;
    transition: all ease 1s;
    background-size: 400% 400%;
    background-position: 0 0;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link-access:hover{
    border-radius: 0px 50px 50px 50px;
    background-position: 100% 50%;
    color: white;
}


/*Card Post*/
.card{
    border-radius: 0 50px 0 50px;
}

.media-comment{
    background-color: #F5DF80;
    border-radius: 50px 50px 50px 50px;
    font-size: small;
}

.card-comment{
    border-radius: 0 50px 0 50px;
    width: 100%;
    height: 200px;
    position: relative;
    font-size: small;
}

.card-body{
    font-size: small;
}

.card-footer{
    text-align: right;
}

.btn-post{
    display: inline-block;
    width: auto;
    height: 52px;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(-45deg, #e91e63, #00bcd4, #e91e63);
    border-radius: 50px 0 50px 0;
    transition: all ease 1s;
    background-size: 400% 400%;
    background-position: 0 0;
}

.btn-post:hover{
    border-radius: 0 50px 0 50px;
    background-position: 100% 50%;
    color: white;
}



/*COMENTARIOS*/
.comment-text{
    text-justify: distribute;
}

.comment-avatar{
    width: 60px;
    height: 60px;
    z-index: 1;
    left:0;
    right:0;
    margin-right:auto;
}

.user-avatar img{
    width: 80px;
    height: 80px;
}

.fa-user{
    color: white;
}

.icon-img{
    width: 20px;
    height: 20px;
}
/*Like button animation*/




.heart {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;
    background-repeat:no-repeat;
    background-size:2900%;
  }
  
  .heart:hover {
    background-position:right;
  }
  
  .is_animating {
    animation: heart-burst .8s steps(28) 1;
  }
  
  @keyframes heart-burst {
    from {background-position:left;}
    to { background-position:right;}
  }