
.login-container, body{
    background: url("../img/macbook-pro-at-night-picjumbo-com.jpg") no-repeat center center fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

/*Card Post*/
.card{
    max-width: 640px; 
    border-radius: 0 50px 0 50px;
}

.card-comment{
    border-radius: 0 50px 0 50px;
    width: 100%;
    height: 200px;
    position: relative;
    font-size: small;
}

.card-body{
    font-size: small;
}

.card-footer{
    text-align: right;
}

.btn-post{
    display: inline-block;
    width: auto;
    height: 52px;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(-45deg, #e91e63, #00bcd4, #e91e63);
    border-radius: 50px 0 50px 0;
    transition: all ease 1s;
    background-size: 400% 400%;
    background-position: 0 0;
}

.btn-post:hover{
    border-radius: 0 50px 0 50px;
    background-position: 100% 50%;
    color: white;
}



/*COMENTARIOS*/
.comment-text{
    text-justify: distribute;
}

.comment-avatar{
    width: 60px;
    height: 60px;
    z-index: 1;
    left:0;
    right:0;
    
    margin-right:auto;
}

.user-avatar img{
    width: 80px;
    height: 80px;
}
